{% extends 'index.html' %}

{% block main %}
{% include 'nav.html' %}

    <div class="container p-2" style="margin-top: 10%;">
        <div class="row ">
        {% for book in books %}
        <div class="col-md-3 mb-2">
          <div class="card h-100" id="jumbotron">
              <img src="{{ book.thumbnail}}" alt="books">
              <div class="card-body">
                  <h6 id="titles" class="text-center">{{book.title}}</h6>
                <p class="card-text">{{book.subtitle}}</p>
            </div>
         </div> 
      </div>
      {% endfor %}
</div>
</div>
<div class="footer mt-5" style="width: 100%;">
    {% include 'footer.html' %}
</div>
{% endblock %}

