{% extends 'index.html' %}
{% block maincontent %}
<section>
    <div class="container">
        <div class="row">
        {% for book in books %}
        <div class="col-md-3 mb-2">
          <div class="card h-100" id="jumbotron">
              <img src="{{ book.thumbnail}}" alt="books">
              <div class="card-body">
                  <h6 id="titles" class="text-center">{{book.title}}</h6>
                <p class="card-text">{{book.subtitle}}</p>
            </div>
         </div> 
      </div>
      {% endfor %}
</div>
</section>
{% endblock %}