<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Api</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" id="brands" href="#">
            BOOK <span class="br">API</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" id="gits" type="submit">Search</button>
              </form>
              <a href="">
                <button id="gits" class="btn btn-outline-success" ><span class="material-icons-outlined">
                    Login <i class="far fa-user"></i>
                  </span></button>
              </a>
          </div>
        </div>
      </nav> 


    <section>
        <div class="container">
            <div class="row">
               <div class="col-md-2">
                <div class="card" id="jumbotron">
                    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
                    <div class="card-body">
                        <h6 id="titles" class="text-center">Book Title</h6>
                      <p class="card-text">Some quick example text Book description</p>
                  </div>
               </div> 
            </div>
            <div class="col-md-2">
              <div class="card" id="jumbotron">
                  <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
                  <div class="card-body">
                      <h6 id="titles" class="text-center">Book Title</h6>
                    <p class="card-text">Some quick example text Book description</p>
                </div>
             </div> 
          </div>
          <div class="col-md-2">
            <div class="card" id="jumbotron">
                <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
                <div class="card-body">
                    <h6 id="titles" class="text-center">Book Title</h6>
                  <p class="card-text">Some quick example text Book description</p>
              </div>
           </div> 
        </div>
        <div class="col-md-2">
          <div class="card" id="jumbotron">
              <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
              <div class="card-body">
                  <h6 id="titles" class="text-center">Book Title</h6>
                <p class="card-text">Some quick example text Book description</p>
            </div>
         </div> 
      </div>
      <div class="col-md-2">
        <div class="card" id="jumbotron">
            <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
            <div class="card-body">
                <h6 id="titles" class="text-center">Book Title</h6>
              <p class="card-text">Some quick example text Book description</p>
          </div>
       </div> 
    </div>
    <div class="col-md-2">
      <div class="card" id="jumbotron">
          <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="books">
          <div class="card-body">
              <h6 id="titles" class="text-center">Book Title</h6>
            <p class="card-text">Some quick example text Book description</p>
        </div>
     </div> 
  </div>
        </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text">
              <h6><i class="far fa-copyright"></i> 2021 Books Api</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>  
</body>
</html>