<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" id="brands" href="#">
        BOOK <span class="br">API</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTogglerDemo03">
                    <form class="mx-5 my-auto w-40 pull-right" action="/" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" placeholder="Search..." name="searchForm">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border border-left-0" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                <div class="btn-group dropdown " style="margin-right: 5vw;">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-user"></i> 
                    {% if current_user.is_authenticated %}
                    hi {{current_user.username }}
                    {% else %}
                    Account
                    {% endif %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('auth.logout')}}" class="dropdown-item" type="button">logout</a></li>
                        {% else %}
                        <li><a href="{{url_for('auth.login')}}" class="dropdown-item" type="button">Login</a></li>
                        {% endif %}
                      </ul>
                  </div>
          <!-- <ul>"
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="far fa-user"></i>  account
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown" style="background-color: black;">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
         
          </ul> -->
          <!-- <a href="">
            <button id="gits" class="btn btn-outline-success" ><span class="material-icons-outlined">
                Login <i class="far fa-user"></i>
              </span></button>
          </a> -->
      </div>
    </div>
  </nav> 
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" id="brands" href="#">
        BOOK <span class="br">API</span>
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <!-- <div class="collapse navbar-collapse d-flex justify-content-end">
            <form class="mx-2 my-auto " action="/" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control border border-right-0" placeholder="Search..." name="searchForm">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border border-left-0" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form> -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
             
              </ul> -
          </div> 
       
        
       
         <a href="{{url_for('auth.logout')}}">
            {% if current_user.is_authenticated %}
           
            <button id="gits" class="btn btn-outline-success" ><span class="material-icons-outlined">

              Logout  <i class="far fa-user"></i>
              </span></button>
              {% else %}
              <button id="gits" class="btn btn-outline-success" ><span class="material-icons-outlined">
                Login <i class="far fa-user"></i>
                </span></button>
              {% endif %}
          </a>  -->
       
<!-- 
    </div>
  </nav>
  -->