{% extends 'index.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block main %}

<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0 shadow">
          <div class="card p-4">
            <div class="card-body">
              <h1>Register</h1>
              <p class="text-muted">Create New Account</p>
        
              {{wtf.quick_form(registration_form, button_map={'submit':'success mt-2 btn-sm'})}}
              
              
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h4>Have an <br> Account?.</h4>
                <a href="{{url_for('auth.login')}}" type="button" class="btn btn-danger mt-5"><small>login</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}